<a href="https://colab.research.google.com/github/MidoriTinto/Python_Fundamentals/blob/main/Copy_of_Numpy_mini_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Investigate, wrangle, add new data to the dataframe, filter and correlate

The following data file contains data about student scores in math, reading and writing.  The exam scores are assumed to be percentages. It also contains data about gender, ethnicity, parental education, whether the student qualifies for free school food and whether or not the student has taken a preparation course for the exams.  The data set has already been cleaned. 

1.  Investigate the data set.

2.  Create numpy arrays to hold each of the three sets of scores.  
Create a new numpy array to hold the average exam score (of the three scores for each student)
Add the new numpy array as a new column in the dataframe.

3.  Filter the original dataset into a new dataframe containing just the females.  Calculate the average exam scores for all rows in this new dataframe and then find the mean of the average column.

4.  Do the same for the males.

5.  Use the original dataset to find the correlation coefficient for reading and maths.  How closely do they correlate?  Write what you find in a text box below the code.

6.  Do the same for reading and writing. What do you find?

7.  You might want to filter on different criteria and check correlation (e.g. those on free school meals, or those who had prepared, etc)

The dataset can be accessed here:  https://raw.githubusercontent.com/lilaceri/Working-with-data-/main/Data%20Sets%20for%20code%20divisio/exams.csv.  This is a .csv file.

**NOTE:** Some useful references are included at the bottom of this spreadsheet.

Use the code cell below to work your code.

In [ ]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/lilaceri/Working-with-data-/main/Data%20Sets%20for%20code%20divisio/exams.csv"
scores = pd.read_csv(url)
scores.info()
scores.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gender              1000 non-null   object
 1   ethnicity           1000 non-null   object
 2   parental_education  1000 non-null   object
 3   lunch               1000 non-null   object
 4   preparation_course  1000 non-null   object
 5   math_score          1000 non-null   int64
 6   reading_score       1000 non-null   int64
 7   writing_score       1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

   gender ethnicity  ... reading_score writing_score
0  female   group E  ...            76            71
1    male   group C  ...            72            69
2  female   group B  ...            56            61
3    male   group D  ...            60            59
4  female   group C  ...            54            55

[5 rows x 8 columns]

In [ ]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/lilaceri/Working-with-data-/main/Data%20Sets%20for%20code%20divisio/exams.csv"
scores = pd.read_csv(url)

def student_scores():
  
  #2. Create numpy arrays to hold each of the three sets of scores (math, reading, writing)
  math_score=scores["math_score"].to_numpy(np.int64)
  reading_score=scores["reading_score"].to_numpy(np.int64)
  writing_score=scores["writing_score"].to_numpy(np.int64)

  #Create a new numpy array to hold the average exam score (of the three scores for each student)
  #average = np.mean([[math_score],[reading_score], [writing_score]]) #new array called average
  average = (math_score + reading_score + writing_score)//3
  
  #Add the new numpy array as a new column in the dataframe.
  scores['average_scores'] = average.tolist() #add a new numpy array as column to dataframe
  #df['new column name'] = numpyarrayname.tolist()
  return  scores.head()#average 

student_scores()

   gender ethnicity  ... writing_score average_scores
0  female   group E  ...            71             70
1    male   group C  ...            69             72
2  female   group B  ...            61             59
3    male   group D  ...            59             59
4  female   group C  ...            55             47

[5 rows x 9 columns]

In [ ]:
def student_scores():
  math_score=scores["math_score"].to_numpy(np.int64)
  reading_score=scores["reading_score"].to_numpy(np.int64)
  writing_score=scores["writing_score"].to_numpy(np.int64)

  #3. FEMALES
  female_only_scores = scores[scores['gender']=='female'] #filtered scores into a new dataframe called FEMALE SCORES
  #average_female_scores=(female_only_scores.math_score + female_only_scores.reading_score + female_only_scores.writing_score)//3 #calculate the average exam scores for all rows in this new dataframe(FEMALE SCORE) 
  #female_only_scores["average_scores"]= average_female_scores.tolist()  #adding a new column called average_scores to female only dataset
  mean_average_fcolumn=female_only_scores['average_scores'].mean() #finding the mean of the average column 'average_scores'.

  return female_only_scores, mean_average_fcolumn

student_scores()

(     gender ethnicity  ... writing_score average_scores
 0    female   group E  ...            71             70
 2    female   group B  ...            61             59
 4    female   group C  ...            55             47
 5    female   group B  ...            61             60
 6    female   group D  ...            92             88
 ..      ...       ...  ...           ...            ...
 989  female   group D  ...            82             76
 991  female   group C  ...            77             74
 992  female   group C  ...            65             57
 994  female   group D  ...            80             75
 997  female   group C  ...            93             84

 [496 rows x 9 columns], 70.48790322580645)

In [ ]:
def student_scores():

  math_score=scores["math_score"].to_numpy(np.int64)
  reading_score=scores["reading_score"].to_numpy(np.int64)
  writing_score=scores["writing_score"].to_numpy(np.int64)


  #4. Do the same for the MALES
  male_only_scores = scores[scores['gender']=='male']  #filtered scores into a new dataframe called MALE SCORES
  #average_male_scores=(math_score + reading_score + writing_score)//3 #calculation the mean of three scores for each row
  #male_only_scores["average_scores"]=average_male_scores #adding a new column called average_scores to male only dataset
  mean_average_mcolumn=male_only_scores['average_scores'].mean() #finding the mean of the average column "average_scores"

  return male_only_scores, mean_average_mcolumn

student_scores()

(    gender ethnicity  ... writing_score average_scores
 1     male   group C  ...            69             72
 3     male   group D  ...            59             59
 7     male   group E  ...            70             78
 9     male   group C  ...            82             80
 13    male   group C  ...            81             84
 ..     ...       ...  ...           ...            ...
 993   male   group E  ...            69             75
 995   male   group B  ...            74             75
 996   male   group D  ...            82             83
 998   male   group B  ...            57             60
 999   male   group B  ...            40             39

 [504 rows x 9 columns], 65.64087301587301)

In [ ]:
def student_scores():
  math_score=scores["math_score"].to_numpy(np.int64)
  reading_score=scores["reading_score"].to_numpy(np.int64)
  writing_score=scores["writing_score"].to_numpy(np.int64)


  #5. Use the original dataset (SCORES) to find the correlation coefficient for reading and maths (READING_SCORE, MATH_SCORE)

  coeff1=np.corrcoef(reading_score, math_score)

  return coeff1
#array([1.,0.81][0.81459, 1.])->value of 0.81 suggests that there is a high correlation between the two variables (those who can read are also most probably good at maths)
student_scores()

array([[1.        , 0.81459752],
       [0.81459752, 1.        ]])

In [ ]:

def student_scores():

  math_score=scores["math_score"].to_numpy(np.int64)
  reading_score=scores["reading_score"].to_numpy(np.int64)
  writing_score=scores["writing_score"].to_numpy(np.int64)
  
  #6. Coeff between reading and writing
 
  coeff2=np.corrcoef(reading_score, writing_score)

  return coeff2
#correlation 1., 0.95676 indicating a high correlation between the two variables (reading & writing)
 
student_scores()

array([[1.        , 0.95676863],
       [0.95676863, 1.        ]])

In [ ]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/lilaceri/Working-with-data-/main/Data%20Sets%20for%20code%20divisio/exams.csv"
scores = pd.read_csv(url)
#scores.info()
#scores.head()


def student_scores():

  scores = scores.astype({"parental_education": int},errors='raise')
  #math_score=scores["math_score"].to_numpy(np.int64)
  #reading_score=scores["reading_score"].to_numpy(np.int64)
  #writing_score=scores["writing_score"].to_numpy(np.int64)
  
  
  #6. Coeff between reading and writing
  #scores_filtered = scores[["gender", "parental_education", "average_scores"]]
  #array=scores_filtered.astype(np.int64)

  #coeff3=np.corrcoef(parental_education, average_scores)

  return scores.dtypes

 
student_scores()

UnboundLocalError: ignored

### Helpful references
---

Filtering on criteria using df references:  
`filtered_df = df[df['column name' == value]]`  

Filtering on multiple criteria using df reference:  
`filtered_df = df[df['first column name' == value] & df[second column name] >= value]`

Numpy help sheet:  http://datacamp-community-prod.s3.amazonaws.com/da466534-51fe-4c6d-b0cb-154f4782eb54