<a href="https://colab.research.google.com/github/MidoriTinto/Python_Fundamentals/blob/main/Data_retrieval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data retrieval
---

Examples of data being retrieved from a range of sources

## From a web page
---

The code below reads all the data tables from the Wikipedia page on Glasgow.  The 8th table on the page shows population data over a period of centuries.

The code reads the data from the page into a list of datatables.  The index [7] is used to access the 8th table in the list.  Change the index to see other data tables.  Use len(datatables) to find out how many tables are in the list.

In [ ]:
import pandas as pd

def get_data():
  datatables = pd.read_html('https://en.wikipedia.org/wiki/Glasgow#Climate')
  #  change the line below to look at other tables, add the line print(len(datatables)) to see how many tables there are
  df = datatables[7]  #Glasgow population data
  return df



# run and test the get_data() function, test visually - does it match the data on the web page
get_data()

     Historical population of Glasgow and city limits  ...                                         Unnamed: 4
0   Historical population and city limits Year[76]...  ...                                                NaN
1                                            Year[76]  ...                                       Area changes
2                                                1300  ...                                            Initial
3                                                1600  ...                                            Unknown
4                                                1791  ...  Anderson to James Street/West Nile Street to C...
5                                                1831  ...                          Necropolis and Blythswood
6                                                1846  ...   Burghs of Anderston and Calton/Barony of Gorbals
7                                                1872  ...  Districts of Keppochhill, Alexandra Parade and...
8                                                1891  ...  Burghs of Govanhill, Crosshill, Pollokshields,...
9                                                1901  ...  Bellahouston Park and Craigton. Districts of B...
10                                               1912  ...  Burghs of Govan, Partick, Pollokshaws. Distric...
11                                               1921  ...                                          No change
12                                               1926  ...  Districts of Lambhill, Millerston, Aikenhead, ...
13                                               1938  ...  Districts of Balmuildy, Auchinairn, Cardowan, ...
14                                               1946  ...                                          No change
15                                               1951  ...                                          No change
16                                               1961  ...                                          No change
17                                               1971  ...                                          No change
18                                               1981  ...  Burghs of Rutherglen, Cambuslang, Mount Vernon...
19                                               1991  ...                              Minor boundary change
20                                               2001  ...  Rutherglen and Cambuslang transferred to South...
21                                               2011  ...                              Minor boundary change

[22 rows x 5 columns]

## From a local file
---

You can upload from a local file using the code below.  uploaded = file.upload() will open a file chooser and you can choose the data file from there.  After that, just use the file name to read from it.  

The file exists while the notebook is running, so should only be uploaded once.  If you need to access again, cancel the upload.

For this exercise you will need a copy of an Excel file.  To get a copy of this file "public_use-talent-migration.xlsx" go to this page: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx and click on the Download button.  You will now have a copy in your Downloads folder.

In [ ]:
import pandas as pd
from google.colab import files
import io

def get_data():
  # upload a set of chosen files then read a specified file
  uploaded = files.upload()
  df = pd.read_excel(uploaded['public_use-talent-migration.xlsx'],sheet_name="Industry Migration")
  return df



# run and test the get_data() function, test visually - does it match the data on the web page
get_data()

Saving public_use-talent-migration.xlsx to public_use-talent-migration.xlsx

     country_code          country_name  ... net_per_10K_2018 net_per_10K_2019
0              ae  United Arab Emirates  ...            68.51            49.55
1              ae  United Arab Emirates  ...           149.57           182.22
2              ae  United Arab Emirates  ...           409.18           407.41
3              ae  United Arab Emirates  ...           236.69           188.07
4              ae  United Arab Emirates  ...           852.39           519.40
...           ...                   ...  ...              ...              ...
5290           zw              Zimbabwe  ...            70.60           -18.30
5291           zw              Zimbabwe  ...          -234.59          -304.36
5292           zw              Zimbabwe  ...           311.03           -55.88
5293           zw              Zimbabwe  ...          -108.16          -213.82
5294           zw              Zimbabwe  ...           -39.32           -92.51

[5295 rows x 13 columns]

## From a csv file hosted on Github.com
---

The code below reads the data table stored in a Comma Separated Values file (this is a text file containing rows of data with each column within the row separated from the next column by a comma).  

If you were using Jupyter Notebooks on your device, the url could be replaced with the path to the CSV file.

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/Paisley-Weather-Data.csv"
df = pd.read_csv(url)
df

     yyyy  mm tmax (degC)  ... rain (mm) sun (hours)       status
0    1959   1           4  ...      40.9        54.1          NaN
1    1959   2         6.6  ...      41.8        17.8          NaN
2    1959   3        10.6  ...      50.9        85.7          NaN
3    1959   4          13  ...      76.3       125.1          NaN
4    1959   5        18.1  ...        24         222          NaN
..    ...  ..         ...  ...       ...         ...          ...
741  2020  10       12.9*  ...    185.3*       76.8*  Provisional
742  2020  11       10.6*  ...    142.4*       29.3*  Provisional
743  2020  12        6.9*  ...    131.0*       31.6*  Provisional
744  2021   1        4.9*  ...    132.2*       51.0*  Provisional
745  2021   2        7.0*  ...    144.3*       58.8*  Provisional

[746 rows x 8 columns]

## From an Excel file hosted on Github.com
---

The code below reads the data table from a sheet in an Excel file.  If you don't specify a sheet then it will assume that you want to read the data from the first sheet in the Excel workbook (sheet_name = 0).  If you don't know the sheet name but know it is the second sheet, you can use sheet_name = 1, or 2 for the third sheet, etc.

If you were using Jupyter Notebooks on your device, the url could be replace with the path to the Excel file.

In [ ]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
df = pd.read_excel(url,sheet_name=3)
df

     base_country_code  ... net_per_10K_2019
0                   ae  ...            -0.02
1                   ae  ...             0.78
2                   ae  ...            -0.06
3                   ae  ...             0.23
4                   ae  ...             0.02
...                ...  ...              ...
4143                zw  ...           -20.76
4144                zw  ...            -3.19
4145                zw  ...            -1.97
4146                zw  ...             5.25
4147                zw  ...             0.33

[4148 rows x 17 columns]

## From an API which delivers the data in JSON format
---

The code below requests the data from the url.  This is a bit more tricky than the other ways to get the data as how you access the data will depend on how it is organised.

In this example, the data is returned as a dictionary, which will have the key 'data' against which the actual data is stored.  In the example, the data has been taken from the 'data' key/value pair and is stored in json_data. 

Again, in this example, the json_data is a list of json_objects but it only has one object in the list.  Try adding the line `print(json_data)` to see this.  

data_table is the first object in the json_data list.  Try adding the line `print(data_table)` to see this.

In this example, the data table object has three keys, 'to', 'from' and 'regions'.  The 'regions' value is the data we want to use in our dataframe, so we normalize this json data into a pandas dataframe (df), which you can see as the output.  

Each API is likely to deliver its data in a different format and so you will need to be happy to read the documentation and to inspect the data to see what keys and indexes you need to access.

For information on the format of the data, see https://carbon-intensity.github.io/api-definitions/#regional

In [ ]:
import pandas as pd
import requests

url = "https://api.carbonintensity.org.uk/regional"
json_data = requests.get(url).json()['data']
data_table = json_data[0]
df = pd.json_normalize(data_table['regions'])
df
print(data_table)#shows first object in the json_data
print(json_data)#the json_data is a list of json_objects but it only has one object in the list

{'from': '2022-01-13T10:30Z', 'to': '2022-01-13T11:00Z', 'regions': [{'regionid': 1, 'dnoregion': 'Scottish Hydro Electric Power Distribution', 'shortname': 'North Scotland', 'intensity': {'forecast': 0, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 0}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 13.9}, {'fuel': 'solar', 'perc': 0}, {'fuel': 'wind', 'perc': 86.1}]}, {'regionid': 2, 'dnoregion': 'SP Distribution', 'shortname': 'South Scotland', 'intensity': {'forecast': 24, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.2}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 3}, {'fuel': 'gas', 'perc': 1.8}, {'fuel': 'nuclear', 'perc': 14.6}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 6.2}, {'fuel': 'solar', 'perc': 0.3}, {'fuel': 'wind', 'perc': 72.8}]}, {'regionid': 3, 'dnoregion': 'Electricity North West', 'shortname': 'North West England', 'intensity': {'forecast': 93, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 6.1}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 3.9}, {'fuel': 'gas', 'perc': 20.6}, {'fuel': 'nuclear', 'perc': 39.8}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.6}, {'fuel': 'solar', 'perc': 0.8}, {'fuel': 'wind', 'perc': 27.1}]}, {'regionid': 4, 'dnoregion': 'NPG North East', 'shortname': 'North East England', 'intensity': {'forecast': 35, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 14.6}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 28}, {'fuel': 'gas', 'perc': 3}, {'fuel': 'nuclear', 'perc': 25.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 2}, {'fuel': 'solar', 'perc': 1.4}, {'fuel': 'wind', 'perc': 25.9}]}, {'regionid': 5, 'dnoregion': 'NPG Yorkshire', 'shortname': 'Yorkshire', 'intensity': {'forecast': 209, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 40.7}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 40.6}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.8}, {'fuel': 'wind', 'perc': 17.8}]}, {'regionid': 6, 'dnoregion': 'SP Manweb', 'shortname': 'North Wales & Merseyside', 'intensity': {'forecast': 183, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.9}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 7.7}, {'fuel': 'gas', 'perc': 36.7}, {'fuel': 'nuclear', 'perc': 14}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 5.1}, {'fuel': 'solar', 'perc': 4.1}, {'fuel': 'wind', 'perc': 30.5}]}, {'regionid': 7, 'dnoregion': 'WPD South Wales', 'shortname': 'South Wales', 'intensity': {'forecast': 371, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 94.1}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 3.8}, {'fuel': 'wind', 'perc': 2}]}, {'regionid': 8, 'dnoregion': 'WPD West Midlands', 'shortname': 'West Midlands', 'intensity': {'forecast': 296, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 3.8}, {'fuel': 'coal', 'perc': 7.6}, {'fuel': 'imports', 'perc': 2.2}, {'fuel': 'gas', 'perc': 54.4}, {'fuel': 'nuclear', 'perc': 12.9}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.2}, {'fuel': 'solar', 'perc': 4.6}, {'fuel': 'wind', 'perc': 13.2}]}, {'regionid': 9, 'dnoregion': 'WPD East Midlands', 'shortname': 'East Midlands', 'intensity': {'forecast': 457, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 5.5}, {'fuel': 'coal', 'perc': 20.2}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 66.3}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 2.7}, {'fuel': 'wind', 'perc': 5.3}]}, {'regionid': 10, 'dnoregion': 'UKPN East', 'shortname': 'East England', 'intensity': {'forecast': 311, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.4}, {'fuel': 'coal', 'perc': 1.7}, {'fuel': 'imports', 'perc': 17.3}, {'fuel': 'gas', 'perc': 52.9}, {'fuel': 'nuclear', 'perc': 16.6}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 5.7}, {'fuel': 'wind', 'perc': 5.4}]}, {'regionid': 11, 'dnoregion': 'WPD South West', 'shortname': 'South West England', 'intensity': {'forecast': 229, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 58}, {'fuel': 'nuclear', 'perc': 27.6}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 13.7}, {'fuel': 'wind', 'perc': 0.7}]}, {'regionid': 12, 'dnoregion': 'SSE South', 'shortname': 'South England', 'intensity': {'forecast': 340, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1}, {'fuel': 'coal', 'perc': 3.7}, {'fuel': 'imports', 'perc': 1.6}, {'fuel': 'gas', 'perc': 76.6}, {'fuel': 'nuclear', 'perc': 6.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 9.9}, {'fuel': 'wind', 'perc': 1.2}]}, {'regionid': 13, 'dnoregion': 'UKPN London', 'shortname': 'London', 'intensity': {'forecast': 319, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.3}, {'fuel': 'coal', 'perc': 1.2}, {'fuel': 'imports', 'perc': 16.1}, {'fuel': 'gas', 'perc': 64}, {'fuel': 'nuclear', 'perc': 9.2}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.2}, {'fuel': 'solar', 'perc': 5.5}, {'fuel': 'wind', 'perc': 3.4}]}, {'regionid': 14, 'dnoregion': 'UKPN South East', 'shortname': 'South East England', 'intensity': {'forecast': 325, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0.1}, {'fuel': 'imports', 'perc': 18.4}, {'fuel': 'gas', 'perc': 74.5}, {'fuel': 'nuclear', 'perc': 0.8}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.4}, {'fuel': 'solar', 'perc': 4.2}, {'fuel': 'wind', 'perc': 1.5}]}, {'regionid': 15, 'dnoregion': 'England', 'shortname': 'England', 'intensity': {'forecast': 270, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 7.1}, {'fuel': 'coal', 'perc': 4.3}, {'fuel': 'imports', 'perc': 7.4}, {'fuel': 'gas', 'perc': 51}, {'fuel': 'nuclear', 'perc': 12.9}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.8}, {'fuel': 'solar', 'perc': 4.9}, {'fuel': 'wind', 'perc': 11.5}]}, {'regionid': 16, 'dnoregion': 'Scotland', 'shortname': 'Scotland', 'intensity': {'forecast': 27, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.9}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 2.5}, {'fuel': 'gas', 'perc': 3.3}, {'fuel': 'nuclear', 'perc': 12}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 6.1}, {'fuel': 'solar', 'perc': 0.3}, {'fuel': 'wind', 'perc': 74.7}]}, {'regionid': 17, 'dnoregion': 'Wales', 'shortname': 'Wales', 'intensity': {'forecast': 312, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.1}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 4.2}, {'fuel': 'gas', 'perc': 73.5}, {'fuel': 'nuclear', 'perc': 1.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 5.8}, {'fuel': 'solar', 'perc': 2.9}, {'fuel': 'wind', 'perc': 11.9}]}, {'regionid': 18, 'dnoregion': 'GB', 'shortname': 'GB', 'intensity': {'forecast': 248, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 6.1}, {'fuel': 'coal', 'perc': 3.6}, {'fuel': 'imports', 'perc': 6.7}, {'fuel': 'gas', 'perc': 47.2}, {'fuel': 'nuclear', 'perc': 12.2}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.7}, {'fuel': 'solar', 'perc': 4.3}, {'fuel': 'wind', 'perc': 18.3}]}]}
[{'from': '2022-01-13T10:30Z', 'to': '2022-01-13T11:00Z', 'regions': [{'regionid': 1, 'dnoregion': 'Scottish Hydro Electric Power Distribution', 'shortname': 'North Scotland', 'intensity': {'forecast': 0, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 0}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 13.9}, {'fuel': 'solar', 'perc': 0}, {'fuel': 'wind', 'perc': 86.1}]}, {'regionid': 2, 'dnoregion': 'SP Distribution', 'shortname': 'South Scotland', 'intensity': {'forecast': 24, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.2}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 3}, {'fuel': 'gas', 'perc': 1.8}, {'fuel': 'nuclear', 'perc': 14.6}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 6.2}, {'fuel': 'solar', 'perc': 0.3}, {'fuel': 'wind', 'perc': 72.8}]}, {'regionid': 3, 'dnoregion': 'Electricity North West', 'shortname': 'North West England', 'intensity': {'forecast': 93, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 6.1}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 3.9}, {'fuel': 'gas', 'perc': 20.6}, {'fuel': 'nuclear', 'perc': 39.8}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.6}, {'fuel': 'solar', 'perc': 0.8}, {'fuel': 'wind', 'perc': 27.1}]}, {'regionid': 4, 'dnoregion': 'NPG North East', 'shortname': 'North East England', 'intensity': {'forecast': 35, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 14.6}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 28}, {'fuel': 'gas', 'perc': 3}, {'fuel': 'nuclear', 'perc': 25.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 2}, {'fuel': 'solar', 'perc': 1.4}, {'fuel': 'wind', 'perc': 25.9}]}, {'regionid': 5, 'dnoregion': 'NPG Yorkshire', 'shortname': 'Yorkshire', 'intensity': {'forecast': 209, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 40.7}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 40.6}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 0.8}, {'fuel': 'wind', 'perc': 17.8}]}, {'regionid': 6, 'dnoregion': 'SP Manweb', 'shortname': 'North Wales & Merseyside', 'intensity': {'forecast': 183, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.9}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 7.7}, {'fuel': 'gas', 'perc': 36.7}, {'fuel': 'nuclear', 'perc': 14}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 5.1}, {'fuel': 'solar', 'perc': 4.1}, {'fuel': 'wind', 'perc': 30.5}]}, {'regionid': 7, 'dnoregion': 'WPD South Wales', 'shortname': 'South Wales', 'intensity': {'forecast': 371, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 94.1}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 3.8}, {'fuel': 'wind', 'perc': 2}]}, {'regionid': 8, 'dnoregion': 'WPD West Midlands', 'shortname': 'West Midlands', 'intensity': {'forecast': 296, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 3.8}, {'fuel': 'coal', 'perc': 7.6}, {'fuel': 'imports', 'perc': 2.2}, {'fuel': 'gas', 'perc': 54.4}, {'fuel': 'nuclear', 'perc': 12.9}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.2}, {'fuel': 'solar', 'perc': 4.6}, {'fuel': 'wind', 'perc': 13.2}]}, {'regionid': 9, 'dnoregion': 'WPD East Midlands', 'shortname': 'East Midlands', 'intensity': {'forecast': 457, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 5.5}, {'fuel': 'coal', 'perc': 20.2}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 66.3}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 2.7}, {'fuel': 'wind', 'perc': 5.3}]}, {'regionid': 10, 'dnoregion': 'UKPN East', 'shortname': 'East England', 'intensity': {'forecast': 311, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.4}, {'fuel': 'coal', 'perc': 1.7}, {'fuel': 'imports', 'perc': 17.3}, {'fuel': 'gas', 'perc': 52.9}, {'fuel': 'nuclear', 'perc': 16.6}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 5.7}, {'fuel': 'wind', 'perc': 5.4}]}, {'regionid': 11, 'dnoregion': 'WPD South West', 'shortname': 'South West England', 'intensity': {'forecast': 229, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 58}, {'fuel': 'nuclear', 'perc': 27.6}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 13.7}, {'fuel': 'wind', 'perc': 0.7}]}, {'regionid': 12, 'dnoregion': 'SSE South', 'shortname': 'South England', 'intensity': {'forecast': 340, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1}, {'fuel': 'coal', 'perc': 3.7}, {'fuel': 'imports', 'perc': 1.6}, {'fuel': 'gas', 'perc': 76.6}, {'fuel': 'nuclear', 'perc': 6.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 9.9}, {'fuel': 'wind', 'perc': 1.2}]}, {'regionid': 13, 'dnoregion': 'UKPN London', 'shortname': 'London', 'intensity': {'forecast': 319, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.3}, {'fuel': 'coal', 'perc': 1.2}, {'fuel': 'imports', 'perc': 16.1}, {'fuel': 'gas', 'perc': 64}, {'fuel': 'nuclear', 'perc': 9.2}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.2}, {'fuel': 'solar', 'perc': 5.5}, {'fuel': 'wind', 'perc': 3.4}]}, {'regionid': 14, 'dnoregion': 'UKPN South East', 'shortname': 'South East England', 'intensity': {'forecast': 325, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0.1}, {'fuel': 'imports', 'perc': 18.4}, {'fuel': 'gas', 'perc': 74.5}, {'fuel': 'nuclear', 'perc': 0.8}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.4}, {'fuel': 'solar', 'perc': 4.2}, {'fuel': 'wind', 'perc': 1.5}]}, {'regionid': 15, 'dnoregion': 'England', 'shortname': 'England', 'intensity': {'forecast': 270, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 7.1}, {'fuel': 'coal', 'perc': 4.3}, {'fuel': 'imports', 'perc': 7.4}, {'fuel': 'gas', 'perc': 51}, {'fuel': 'nuclear', 'perc': 12.9}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.8}, {'fuel': 'solar', 'perc': 4.9}, {'fuel': 'wind', 'perc': 11.5}]}, {'regionid': 16, 'dnoregion': 'Scotland', 'shortname': 'Scotland', 'intensity': {'forecast': 27, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.9}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 2.5}, {'fuel': 'gas', 'perc': 3.3}, {'fuel': 'nuclear', 'perc': 12}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 6.1}, {'fuel': 'solar', 'perc': 0.3}, {'fuel': 'wind', 'perc': 74.7}]}, {'regionid': 17, 'dnoregion': 'Wales', 'shortname': 'Wales', 'intensity': {'forecast': 312, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.1}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 4.2}, {'fuel': 'gas', 'perc': 73.5}, {'fuel': 'nuclear', 'perc': 1.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 5.8}, {'fuel': 'solar', 'perc': 2.9}, {'fuel': 'wind', 'perc': 11.9}]}, {'regionid': 18, 'dnoregion': 'GB', 'shortname': 'GB', 'intensity': {'forecast': 248, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 6.1}, {'fuel': 'coal', 'perc': 3.6}, {'fuel': 'imports', 'perc': 6.7}, {'fuel': 'gas', 'perc': 47.2}, {'fuel': 'nuclear', 'perc': 12.2}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.7}, {'fuel': 'solar', 'perc': 4.3}, {'fuel': 'wind', 'perc': 18.3}]}]}]

### Exercise - upload a file from your local drive

Visit the Kent and Medway Air Quality site: https://kentair.org.uk/

Collect a data file containing data on Ozone levels in Dover:

Open the site
Go to the Data page  
Launch the data selector tool  
Select:
*  Automatic monitoring data
*  Measurement data and simple statistics
*  Ozone
*  Daily mean
*  This month
*  Thurrock
*  Thurrock

Click on Download CSV

This should be downloaded into your Downloads folder.

NOW

Write a function that will allow you to upload the file and then read its contents into a dataframe.

To read an uploaded CSV file (which will be in bytes format) use:

```
df = pd.read_csv(io.BytesIO(uploaded['your filename']))
```


Display the dataframe and compare the contents with the output on the site you took the data from.

In [22]:
import pandas as pd
from google.colab import files
import io

def get_data():
  # upload a set of chosen files then read a specified file
  #!rm NO2-daily-mean-2014-2021-Swale-Newington.csv
  !rm data-selector-export.csv
  uploaded = files.upload()
  df = pd.read_csv(io.BytesIO(uploaded['data-selector-export.csv']))
  #df = pd.read_csv(io.BytesIO(uploaded['NO2-daily-mean-2014-2021-Swale-Newington.csv']))
  return df

get_data()

Saving data-selector-export.csv to data-selector-export.csv

    Unnamed: 0  Thurrock Unnamed: 2
0         Date     Ozone     Status
1   01/01/2022  45.79300    P µg/m³
2   02/01/2022  66.29050    P µg/m³
3   03/01/2022  69.64993    P µg/m³
4   04/01/2022  36.78162    P µg/m³
5   05/01/2022  31.34080    P µg/m³
6   06/01/2022  32.89434    P µg/m³
7   07/01/2022  48.28687    P µg/m³
8   08/01/2022  54.58240    P µg/m³
9   09/01/2022  37.90998    P µg/m³
10  10/01/2022  13.92832    P µg/m³
11  11/01/2022  24.70510    P µg/m³
12  12/01/2022   7.05437    P µg/m³

# ACTIVITIES

RUN ALL THE CODE CELLS ABOVE TO SEE WHAT THEY DO AND WHAT DATA THEY GET FOR YOU.

Now have a go at opening a few data sets yourself.

### Exercise 1
---

*  Open the datasets list: [here](https://docs.google.com/document/d/1cijDOCDixsYu-Rr9pC8STPPXado3xoFpgBAZgdDTLHs/edit?usp=sharing)  

*  Find a dataset that is a CSV file, copy the code above (for online CSV) into the code cell below

*  Run the code to open the data.

In [24]:
import pandas as pd
url="https://raw.githubusercontent.com/lilaceri/Working-with-data-/main/Data%20Sets%20for%20code%20divisio/exams.csv"
df = pd.read_csv(url)
df

     gender ethnicity  ... reading_score writing_score
0    female   group E  ...            76            71
1      male   group C  ...            72            69
2    female   group B  ...            56            61
3      male   group D  ...            60            59
4    female   group C  ...            54            55
..      ...       ...  ...           ...           ...
995    male   group B  ...            73            74
996    male   group D  ...            87            82
997  female   group C  ...            94            93
998    male   group B  ...            62            57
999    male   group B  ...            39            40

[1000 rows x 8 columns]

### Exercise 2
---
Open the datasets list: [here](https://docs.google.com/document/d/1cijDOCDixsYu-Rr9pC8STPPXado3xoFpgBAZgdDTLHs/edit?usp=sharing)  

* Find a dataset that is an Excel file
* Copy the code above (for Excel files on Github) into the code cell below
* Change the line
```
df = pd.read_excel(url,sheet_name="Industry Migration") 
```
to 
```
df = pd.read_excel(url)
```
This will then open the first sheet in the Excel file, rather than a named sheet.

* Run the code to open the data.

In [28]:
import pandas as pd
url="https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true"
df = pd.read_excel(url)
df

         Country  ... Dystopia Residual
0    Switzerland  ...           2.51738
1        Iceland  ...           2.70201
2        Denmark  ...           2.49204
3         Norway  ...           2.46531
4         Canada  ...           2.45176
..           ...  ...               ...
153       Rwanda  ...           0.67042
154        Benin  ...           1.63328
155        Syria  ...           0.32858
156      Burundi  ...           1.83302
157         Togo  ...           1.56726

[158 rows x 12 columns]

### Exercise 3
---
*  Copy the code from the API delivered in JSON format
*  Change the URL to add /england to the end of it
*  Run the code to see the data for England only
*  Change it again to show data for Scotland, (/scotland)
*  Change it again to show data for Wales

In [45]:
import pandas as pd
import requests

url = "https://api.carbonintensity.org.uk/regional/scotland"
json_data = requests.get(url).json()['data']
data_table = json_data[0]
df = pd.json_normalize(data_table['data'])#want to normalize data
df
print(data_table)#shows first object in the json_data
print(json_data)#the json_data is a list of json_objects but it only has one object in the list

{'regionid': 16, 'dnoregion': 'Scotland', 'shortname': 'Scotland', 'data': [{'from': '2022-01-13T11:00Z', 'to': '2022-01-13T11:30Z', 'intensity': {'forecast': 25, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 1.5}, {'fuel': 'gas', 'perc': 3.9}, {'fuel': 'nuclear', 'perc': 11.5}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 5}, {'fuel': 'solar', 'perc': 0.5}, {'fuel': 'wind', 'perc': 76.6}]}]}
[{'regionid': 16, 'dnoregion': 'Scotland', 'shortname': 'Scotland', 'data': [{'from': '2022-01-13T11:00Z', 'to': '2022-01-13T11:30Z', 'intensity': {'forecast': 25, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 1.5}, {'fuel': 'gas', 'perc': 3.9}, {'fuel': 'nuclear', 'perc': 11.5}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 5}, {'fuel': 'solar', 'perc': 0.5}, {'fuel': 'wind', 'perc': 76.6}]}]}]